/* add in minireset */

@use "./reset";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* ============== */
/* vars theme */
$Brand-Color-Background: #eceffd;
$Brand-Color-Copy-Body: #370617;
$Brand-Color-Copy-Title: #dc2f02;
$Brand-Color-Copy-Link: #e85d04;
$Brand-Color-Border: #faa307;
$Brand-Color-Icon: #301e67;
$Brand-Color-TransparentBackground: transparent !important;

@mixin theme-color-scheme($copy, $bg) {
  color: $bg;
  background: $copy;
}

/* ============ */

/* 
=================
    utilities
================= */

.UI__utility {
&__display-mobile{
  display: none;
  @media screen and (max-width: 750px) {
    display: flex;
  }
}

  &__fontfamily {
    font-family: "Roboto", sans-serif;
  }

  &__title-copy {
    color: $Brand-Color-Copy-Title;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
  }

  &__subtitle-copy {
    color: $Brand-Color-Copy-Body;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1;
  }

  &__body-copy {
    color: $Brand-Color-Copy-Body;
    font-size: 1.2rem;
  }
}

/*   ================ */
.UI {
  @extend .UI__utility__fontfamily;
  width: 100%;

  display: block;
  min-height: 900px;

  background: $Brand-Color-Background;

  &__container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: block;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
  }

  &__toggle-theme__light {

    .UI,
    .UI__container * {
      /* Core Theme */
      background: $Brand-Color-Background;
      color: $Brand-Color-Copy-Body;
    }

    svg {
      fill: $Brand-Color-TransparentBackground;
      stroke: $Brand-Color-Icon;
      background: $Brand-Color-TransparentBackground;
      background-color: $Brand-Color-TransparentBackground;
    }

    g {
      fill: $Brand-Color-Icon;
    }
  }

  &__toggle-theme__dark {
    $Brand-Color-Background: #03001c;
    $Brand-Color-Copy-Body: #eafff7;
    $Brand-Color-Copy-Title: #b6eada;
    $Brand-Color-Copy-Link: #fb2576;
    $Brand-Color-Border: #3f0071;
    $Brand-Color-Icon: #faa307;
    /* Core Theme  options https://www.colourlovers.com/palettes/search?query=neon */
    background: $Brand-Color-Background;
    color: $Brand-Color-Copy-Body;

    .UI__header__title__copy {
      color: $Brand-Color-Copy-Title;
    }

    svg {
      fill: $Brand-Color-TransparentBackground;
      stroke: $Brand-Color-Icon;
      background: $Brand-Color-TransparentBackground;
      background-color: $Brand-Color-TransparentBackground;
    }

    g {
      fill: $Brand-Color-Icon;
    }
  }

  &__icon__l {
    width: 40px;
    transition: transform 0.3s ease-in-out;
    background: $Brand-Color-TransparentBackground;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon__s {
    max-width: 40px;
    display: block;
  }

  &__icon__m {
    max-width: 60px;
    display: block;
  }

  /*  ===================== */
  /*   header  */
  /*  ===================== */

  &__header {
    display: grid;
    grid-template-areas: "siteLogo siteTitle  siteNav accNav siteTheme";
    grid-template-columns: 75px 200px  40% 165px 40px;
    width: 100%;
    max-width: 100%;
    align-items: center;
    border: 1px solid green;
    gap: 1rem;

    &__logo {
      grid-area: siteLogo;
      width: 100px;
      @extend .UI__animation__spin;
    }

    &__title {
      grid-area: siteTitle;
      border: 1px solid green;

      &__copy {
        @extend .UI__utility__title-copy;
      }
    }

    &__nav {
      grid-area: siteNav;

      border: 1px solid green;
    }

    &__acc-nav {
      grid-area: accNav;
    }

    &__theme {
      grid-area: siteTheme;

      width: 40px;

      border: 1px solid green;
    }
  }

  /*  ===================== */
  /*   navigation */
  /*  ===================== */

  &__off-canvas {
    display: block;
  }
&__primary-nav-mobile-icon{
  @extend .UI__utility__display-mobile;
}
  &__primary-nav {
    width: 100%;
    border: 1px solid red;

    &__list {
      list-style: none;
      display: flex;
      flex-flow: row;
      gap: 1rem;

      &__item {}
    }
  }

/*   signup */
&__signup-form {
  margin: 0 auto;
  flex-flow: column;
  display: flex;
  border-radius: 8px;
  min-height: 400px;
  width: 400px;
  background: $Brand-Color-Background;
  transform: translate(50%, 0);
}

&__header__acc-nav__list{
  display: flex;
  flex-flow: row;
padding: 0;
gap: 10px;
  &--item{
    display: flex;

  }
}

  //   close UI
}

.UI__offcanvas {
  border: 3px solid gold;
  width: 300px;
  height: 100%;
  display: none;
}

/* 
=====================
animation 
====================== 
*/

.UI__animation {
  &__spin {
    animation: App-logo-spin infinite 20s linear;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    @media screen and (max-width: 600px) {
      /* STYLES HERE */
      animation: pulse infinite 5s linear;
    }
  }
}